.Home__Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #f6f6f6;
  padding: 0.5rem;
  margin: 1rem;
  overflow-y: auto;
}

.Home__Message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.CreateForm__ModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CreateForm__ModalBackdrop {
  background-color: #00000080;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.Home__Form {
  background: #fff;
  width: 320px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.Home__AddButton {
  padding: 1rem;
  margin-left: auto;
  margin-top: auto;
}
