.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f6f6f6;
  padding: 1.5rem;
}

.App__ToDoList {
  text-align: left;
}

.App__card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.App__ToDoItem button:first-child {
  margin-right: 1rem;
}

.App__ToDoForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ToDoCreateForm,
.ToDoUpdateForm {
  background: #fff;
}
